{% extends "post/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
	#bg {
		padding-top: 125px;
		padding-bottom:10px;
		background: url(https://img.freepik.com/free-vector/dark-wall-background_1390-191.jpg?size=338&ext=jpg);
		background-repeat: no-repeat;
		background-size: cover;
		text-align:center;
		color: #fed136;
		font-family: 'Montserrat', sans-serif;
		font-size: 25px;;
	}
	
	label {
		color:white;
	}
</style>

<div id="bg">
	<h2 class="card-title">Zaloguj sie</h2>
</div>
<br /><br /><br/>
<div class="container">
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4" style="color:white;">Panel logowania</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-primary text-uppercase btn-outline-info" type="submit">Loguj</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Potrzebujesz konta? <a class="ml-2" href="{% url 'registration' %}">Zarejestruj się teraz!</a>
			</small>
		</div>
	</div>
</div>
<br /><br/><br/>
{% endblock content %}
