{% extends "post/base.html" %}
{% block content %}
<style>
	#bg {
		padding-top: 125px;
		padding-bottom:10px;
		background: url(https://img.freepik.com/free-vector/dark-wall-background_1390-191.jpg?size=338&ext=jpg);
		background-repeat: no-repeat;
		background-size: cover;
		text-align:center;
		color: #fed136;
		font-family: 'Montserrat', sans-serif;
	}
</style>

<div id="bg">
	<h2 class="card-title">Wylogowałeś się</h2>
</div>
<br/>
<div class="container" style="text-align:center;">
	<h1 style="color:white;">Zostałeś wylogowany prawidłowo</h1>
	<img src="https://cdn.pixabay.com/photo/2015/08/17/04/41/smilies-892013_960_720.png"/ width="45%">
	<h2 style="color:white;"> Zapraszamy ponownie do odwiedzenia naszej strony </h2>
	<div class="border-top pt-3">
		<small class="text-muted">
			<a class="ml-2" href="{% url 'login' %}">Zaloguj się ponownie!</a>
		</small>
	</div>
</div>
<br/>
{% endblock content %}
